body{
    background-color:black;
    text-align: center;
}
h1{
    color:blue;
}
p{
    color:rgb(104, 150, 150);
}

img{
    height: 250px;
    border-radius: 20px;

}
button{
    background-color: green;
    position: absolute;
    bottom: 150px;
    right: 550px;
    font-size: 30px;
    border-radius: 20px;
}